
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*  general */
*{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    height: 7rem;
    background-color: #3A546D;
    color: white;
}
.link{
    width: 17rem;
}

.menu-icon{display: none;}

.container-fluid{
    background-color: #1ABC9C;
}

.avatar{
    padding-top: 3rem;
    width: 20rem;
}

.line{
    width: 200px;
    height: 0.2rem;
    background-color: white;
}

.fa-star{
    padding: 0 2rem;
    font-size: 3rem;
}
.container>img{
    max-width: calc((100% / 3) - 1rem );
    padding-bottom: 2rem;
}

.green{
    background-color: #1ABC9C;
    border: none;
}

.line2{
    width: 200px;
    height: 0.2rem;
    background-color: black;
}
.line2c{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   padding-bottom: 3rem;
}

.footer-color1{
    background-color: #3A546D;;
    height: 13rem;
}

.footer-color2{
    background-color: #2C3E50;
    height: 6rem;
}

@media screen and (max-width:768px) {
    .container>img{
        max-width: calc((100% / 2) - 1rem );
    }
}

@media screen and (max-width:425px) {
    .container>img{
        max-width: 100%;
    }
}