
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*  general */
*{
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    background-color: #3A546D;
}

.link{
    width: 17rem;
}

.menu-icon{display: none;}

.container-fluid{
    background-color: #1ABC9C;
}

.avatar{
    width: 20rem;
}

.line{
    width: 200px;
    height: 0.2rem;
    background-color: white;
}

.fa-star{
    font-size: 3rem;
}
.container>img{
    max-width: calc((100% / 3) - 1rem );
    padding-bottom: 2rem;
}

.my-container{
    padding: 0 3rem;
}
.green{
    background-color: #1ABC9C;
    border: none;
}

.line2{
    width: 200px;
    height: 0.2rem;
    background-color: black;
}
.line2c{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: center;
   padding-bottom: 3rem;
}

.footer-color1{
    background-color: #3A546D;;
}

.footer-color2{
    background-color: #2C3E50;
}
.mycont>div{
width: calc(100%/3);
}

.rounded-circle{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.text-info-emphasi{
    color: rgb(105, 255, 255);
}

@media screen and (max-width:768px) {
    .container>img{
        max-width: calc((100% / 2) - 1rem );
    }

    .rounded-circle{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
}

@media screen and (max-width:425px) {
    .container>img{
        max-width: 100%;
    }

    .link{
        display: none;
    }

    .menu-icon{
        display: initial;
    }

    .my-container{
        flex-wrap: wrap;
        padding: 1em;
    }

    .mycont{flex-wrap: wrap;}
    .mycont>div{
        width: 100%;
        padding: 2rem 0;
    }

    h3{
        text-align: center;
        width: 250px;
    }
}